In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("all_data_lat_lon.csv")
data

,ARRASTO,LOCAL,ESPECIE,N° DE INDIVIDUOS,CT (cm),PESO (g),PONTO,DATA,TIPO,LATITUDE,LONGITUDE,NAME
0,1.0,Náutico,Anc.brev,1.0,9.6,5.35,1,04/10/2019,Nao especificado,-3.723629,-38.503307,ANC.BREV
1,1.0,Náutico,Anc.brev,2.0,9,4.39,1,04/10/2019,Nao especificado,-3.723629,-38.503307,ANC.BREV
2,1.0,Náutico,Anc.brev,3.0,8.7,3.92,1,04/10/2019,Nao especificado,-3.723629,-38.503307,ANC.BREV
3,1.0,Náutico,Anc.brev,4.0,9,4.39,1,04/10/2019,Nao especificado,-3.723629,-38.503307,ANC.BREV
4,1.0,Náutico,Anc.brev,5.0,9.5,5.42,1,04/10/2019,Nao especificado,-3.723629,-38.503307,ANC.BREV
...,...,...,...,...,...,...,...,...,...,...,...,...
10840,P4,TERRA,Bag. mar,10.0,17.02,33.59,4,15/06/2022,Terra,-3.725150,-38.496333,BAG.MAR
10841,P4,TERRA,Bag. mar,11.0,19.0,49.12,4,15/06/2022,Terra,-3.725150,-38.496333,BAG.MAR
10842,P4,TERRA,Bag. mar,12.0,17.01,32.4,4,15/06/2022,Terra,-3.725150,-38.496333,BAG.MAR
10843,P4,TERRA,Bag. mar,13.0,13.03,13.83,4,15/06/2022,Terra,-3.725150,-38.496333,BAG.MAR
10844,P4,TERRA,Bag. mar,14.0,12.04,7.06,4,15/06/2022,Terra,-3.725150,-38.496333,BAG.MAR

In [4]:
data["NAME"] = data["ESPECIE"].apply(lambda x: x.replace(" ", "").upper())

In [6]:
data["NAME"].unique()

array(['ANC.BREV', 'HAE.CORV', 'CET.EDE', 'LAR.BRE', 'ACH.DEC', 'ACA.COE',
       'SYM.PLA', 'SEL.BRO', 'CHL.CHR', 'CON.NOB', 'PEL.HAR', 'POL.VIR',
       'STE.STE', 'DIA.RHO', 'SYM.TES', 'SPH.TES', 'GEN.PLA', 'BAG.MAR',
       'NOT.GRA', 'EUC.ARG', 'HAE.PLU', 'ACA.CHI', 'ANI.MOR', 'SEL.VOM',
       'ANI.VIRG', 'LYC.LIM', 'HAE.AUR', 'OPI.OGL', 'SPH.GRE', 'HAE.COR',
       'EUC.GULA', 'BAI.RON', 'HAE.PAR', 'ORT.RUB', 'CUR.MAC', 'CIT.SPI',
       'CHA.FAB', 'SPA.PLU', 'CAT.SPI', 'SPA.FRO', 'MEN.LIT', 'ANI.VIR',
       'OPI.OLG', 'SEL.VÔM', 'TRA.FAL', 'CHI.SPI', 'ANC.BRE', 'SHP.TES',
       'TRA.CAR', 'SPH.GUA', 'AMP.RUG', 'CHI.BLE', 'EUC.GUL', 'LUT.ANA',
       'MOG.CUR', 'ETR.CRO', 'PRI.PUN', 'CYN.ACO', 'CEN.UND', 'ETH.FIM*',
       'SCO.SAU*', 'NAR.BAN', 'GYM.MIC', 'TRI.LEP', 'SEL.SET', 'CEN.ENS',
       'SCO.BRA', 'LYC.SP', 'LYC.GRO', 'ANC.SUR', 'CYN.MIC', 'LYC.LYM',
       'GEN.GEN', 'CTA.SPI', 'GEN.MAC', 'SCI.HER', 'GEN.BAR', 'SCI.PAR',
       'ASP.LUN', 'EUG.BRA', 'OPH.PUN', 'ORT.RUBER', 'AMP.SUR', 'MENLIT',
       'LYC.BAT*', 'HYP.AME*', 'LUT.JOC', 'SCO.PLU', 'MEN.AME', 'STE.BRA',
       'LYC.SP.', 'ANISUR*', 'EUC.HAV', 'ACH.LIN', 'MIC.FUR', 'BAG.BAG',
       'SPH.BAR', 'GUM.MIC', 'LUT.SYN', 'STE.RAS', 'PTE.ATH', 'HYP.AME',
       'GEN.LUT', 'TRI.PAU', 'TRI.MIC', '4,35', '11,33', 'DIA.AUR',
       'STE.SP', 'HAR.CLU', 'MUG.CUR', 'ANC.CLU', 'ELO.SAU', 'LYCSSP',
       'LYC.SSP', 'STE.NAS', 'PELONAHAW', 'OPIOGL', 'SELENABROW',
       'LARIMUSBREV', 'STE.RASTRIFER', 'BAGREMAR', 'STE.RAE', 'COV.NEN',
       'MENT.AMER', 'HYP.SP', 'POL.VIRG', 'JUDEU', 'LIN.GRO', 'DENTULUS',
       'MENT.LIT', 'BAGREBAG', 'DIAP.RHO', 'PEL.HAL', 'OPIS.OGLI',
       'ARC.RHO', 'LIC.GRO', 'BAGREMARINUS', 'BAGREBAGRE', 'GY.MICCT',
       'SEL.BROW', 'DPH.BAR', 'SEL.VOL', 'SPH.BARRACUDA', 'DYMP.PLA',
       'STE.STELI', 'HAM.COR', 'OLI.PALOMBETA', 'ARIUS.RUG', 'CRC.ROM.',
       'DIP.RAD', 'HEM.UNI', 'STISTE', 'SYA.MIC', 'LINGRO', 'OLI.PAL',
       'FALCATUS'], dtype=object)

In [7]:
data.to_csv("all_data_lat_lon.csv", index=False, encoding="UTF-8")